body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0%;
    padding: 0%;
    background-color: beige;
    color: black;
}
header{
    background-color: rgb(135, 16, 190);
    color: white;
    text-align: center;
    padding: 30px 0;
}
main{
    margin: 20px;
}
/*productos*/
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:20px;
    justify-items: center;
}
.product{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: rgba(95, 6, 62, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    padding: 20px;
    text-align: center;
    width: 90%;
    max-width: 300px;
}
.product img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 50%;
}
.product h2{
    font-size: 40px;
    margin: 10px 0;
}
.product p{
    font-size: 30px;
    margin: 10px 0;
    color: #600963;
}
.product button{
    padding: 10px 15px;
    background-color: rgb(195, 107, 221);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(102, 7, 89);
}
.product img{
    transition:  transform 0.3s ease-in-out;
}
.product:hover img{
    transform: scale(1.1);
}